.header-bg {
    background: linear-gradient(135deg, #00796B, #1A237E);
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-light .navbar-brand {
    color: white;
}

.language-switcher-menu {
    background-color: #dddddd !important; /* Dark gray color */
    padding: 0px !important;
    overflow: hidden;
  }
  
  /* Optional: Change text color for better contrast */
  .language-switcher-menu .dropdown-item {
    color: #000000 !important;
  }